body {
  scrollbar-color: rgba(var(--bs-body-color-rgb), 0.1) #fff;
  scrollbar-width: thin; }
  body::-webkit-scrollbar {
    width: 0.5rem;
    background-color: rgba(var(--bs-body-bg-rgb), 0.1);
    -webkit-box-shadow: none; }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(var(--bs-body-color-rgb), 0.05); }
  body::-webkit-scrollbar-thumb {
    background-color: rgba(var(--bs-body-color-rgb), 0.15);
    outline: 1px solid slategrey; }

[data-vvveb-disabled] {
  pointer-events: none;
  position: relative; }
  [data-vvveb-disabled]::after {
    content: "Non-editable area";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    background: rgba(252, 252, 252, 0.85);
    border: 1px dashed #999;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; }

[data-vvveb-disabled-area] *:not([data-vvveb-edit-exception]) {
  pointer-events: none;
  position: relative; }
  [data-vvveb-disabled-area] *:not([data-vvveb-edit-exception])::after {
    content: "Non-editable area";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    background: rgba(252, 252, 252, 0.85);
    border: 1px dashed #999;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; }

/*
Prevents iframe mouse events that prevents clicking on the component  
 */
[data-component-lottie] > svg,
[data-component-oembed] iframe,
[data-component-oembed] > div,
[data-component-video] > iframe,
[data-component-maps] > iframe,
[data-component-twitter] > iframe,
[data-component-iframe] > iframe,
[data-component-openstreetmap] > iframe {
  pointer-events: none; }

[contenteditable="true"] {
  outline: none; }
  [contenteditable="true"]:focus-visible {
    outline: none; }

.is-dragged {
  pointer-events: none;
  opacity: 0.15;
  position: relative;
}

.vvveb-hidden {
  display: none !important; }

body.vvveb-hidden {
  display: unset !important;
}
body.vvveb-hidden .vvveb-hidden, body.vvveb-hidden .d-none, body.vvveb-hidden .invisible {
  display: unset !important;
  visibility: visible !important;
  overflow: hidden;
  position: relative;
}
body.vvveb-hidden .vvveb-hidden::after, body.vvveb-hidden .d-none::after, body.vvveb-hidden .invisible::after {
  content: "Hidden";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  padding-top: 5px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  background: rgba(252, 252, 252, 0.85);
  background: rgba(var(--bs-body-bg-rgb), 0.85);
  border: 1px dashed #999;
  border: 1px dashed var(--bs-border-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
body.vvveb-hidden .vvveb-hidden:hover::after, body.vvveb-hidden .d-none:hover::after, body.vvveb-hidden .invisible:hover::after {
  display: none;
}

section .container div > .row > [class*="col-"]:empty,
section .container div > .row > .col:empty,
section .container > .row > [class*="col-"]:empty,
section .container > .row > .col:empty, section .container-fluid div > .row > [class*="col-"]:empty,
section .container-fluid div > .row > .col:empty,
section .container-fluid > .row > [class*="col-"]:empty,
section .container-fluid > .row > .col:empty {
  background: var(--bs-tertiary-bg);
  min-height: 200px;
  outline: 1px solid var(--bs-border-color);
  outline-offset: -0.5rem;
  display: flex; }
  section .container div > .row > [class*="col-"]:empty:after,
  section .container div > .row > .col:empty:after,
  section .container > .row > [class*="col-"]:empty:after,
  section .container > .row > .col:empty:after, section .container-fluid div > .row > [class*="col-"]:empty:after,
  section .container-fluid div > .row > .col:empty:after,
  section .container-fluid > .row > [class*="col-"]:empty:after,
  section .container-fluid > .row > .col:empty:after {
    content: 'Drag elements here';
    font-size: 85%;
    color: var(--bs-secondary);
    display: block;
    vertical-align: middle;
    display: flex;
    align-self: center;
    margin: auto; }

section:hover .container div > .row > [class*="col-"],
section:hover .container div > .row > .col, section:hover .container > .row > [class*="col-"],
section:hover .container > .row > .col, section:hover .container-fluid div > .row > [class*="col-"],
section:hover .container-fluid div > .row > .col, section:hover .container-fluid > .row > [class*="col-"],
section:hover .container-fluid > .row > .col {
  outline: 1px dashed rgba(var(--bs-success-rgb), 0.35);
  outline-offset: -2px; }

.row:hover > [class*="col-"],
.row:hover > .col {
  outline: 1px dashed rgba(var(--bs-success-rgb), 0.35);
  outline-offset: -2px; }


#vvvebjs-new-section {
	background:rgba(248, 249, 250);
	background:var(--bs-tertiary-bg);
	display:block;
}

#vvvebjs-new-section .container,
#vvvebjs-new-section .row,
#vvvebjs-new-section .col {
	padding:1rem;	
	justify-content: center;
}

#vvvebjs-new-section .col {
	justify-content: center;
	display:flex;
	flex-wrap: wrap;
	width:100%;
	background:#fff;
	background:var(--bs-body-bg);	
	border:1px dashed #ccc;
}


#vvvebjs-new-section button {
    margin: 0.5rem;
    background: #0030C0;
    padding: 0.4rem 2.5rem;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    border-color: #0030C0;
    border-width: 1px;
}

#vvvebjs-new-section button:hover {
	/*background:#333;*/
}
