<main id="site-content" data-v-component-post>

	<!-- Single Blog Post Thumb -->
	<!-- 
	<div class="inner-page-hero" data-v-if="post.img">
		<div class="title-container">
			<h1 data-v-post-name>Post title</h1>
		</div>
		<img data-v-post-img loading="lazy" src="img/bg-img/bg-7.jpg" alt="">
	</div>
	-->

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12">
				<div>
					<!--
					<h1 class="text-center" data-v-if-not="post.img" data-v-post-name>Page title</h1>
					-->
					
					<div class="" data-v-post-content>
						<h2>Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada</h2>
						<p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis ac eu nisi. In accumsan tellus ut dapibus blandit.</p>
				</div>
				
				</div>
			</div>
		</div>
	</div>
</main>
