<div class="py-4 border-top border-bottom" data-v-component-admin data-v-admin_id="url">
	<div class="row">
		<div class="col-md-3 align-self-center">
			<img class="img-fluid d-block rounded-circle border p-2 mx-auto" src="../../media/placeholder.svg" data-v-admin-avatar_url>
		</div>
		<div class="col-md-9 align-self-center">
			<span class="text-muted">Meet the author</span>
			<h4 data-v-admin-display_name>John Doe</h4>
			<div class="mb-2"data-v-admin-bio>My bio</div>
			
			<a href="#" data-v-admin-url><span>All author posts</span></a>
		</div>
	</div>
</div>