<!-- Blog Post -->

<article class="card @@class" data-v-post data-v-if="posts.count > 0">
	<div class="card-header">

		<a class="post-title" href="content/post.html" data-v-post-url> 
			<h2 class="card-title display-4 text-center" data-aos="fade" data-aos-duration="500" data-v-post-name>Begin each day by telling yourself</h2>
		</a>


		<div class="post-meta-wrapper post-meta-single post-meta-single-top" data-aos="fade-up" data-aos-duration="200">

				<ul class="post-meta">

					<li class="post-author meta-wrapper">
							<span class="meta-icon">
								<span class="screen-reader-text">Post author</span>
									<i class="la la-user"></i>
								</span>
							<span class="meta-text">
								By <a href="content/post.html" data-v-post-author-url><span data-v-post-display_name>admin</span></a>
							</span>
						</li>
						
						<li class="post-date meta-wrapper">
							<span class="meta-icon">
								<span class="screen-reader-text">Post date</span>

									<i class="la la-calendar"></i>
								</span>
							<span class="meta-text">
								<a href="content/post.html" data-v-post-url><span data-v-post-created_at data-filter-friendly_date>December 31, 2020</span></a>
							</span>
						</li>
							<li class="post-comment-link meta-wrapper">
							<span class="meta-icon">
								<i class="la la-comment"></i>
							</span>
							<span class="meta-text">
								<a href="#comments" data-v-post-comments-url><span data-v-post-comment_text>0 Comments</span></a>
							</span>
						</li>
						
				</ul><!-- .post-meta -->

	     </div>
	</div>
	
	
  <img class="img-fluid" src="img/demo/hero-3.jpg" loading="lazy" alt="Card image cap" data-aos="zoom-in-up" data-aos-duration="200"  data-v-post-image data-v-if="post.image">
	
  <div class="card-body">
	
		<div class="card-text post-content" data-v-post-content="">
			<p>
				Begin each day by telling yourself:
			</p> 

			<blockquote cite="https://en.wikipedia.org/wiki/Marcus_Aurelius">
				<p>Today I shall be meeting with interference, ingratitude, insolence, disloyalty, ill-will, and selfishness all of them due to the offenders` ignorance of what is good or evil.</p>
				<cite class="small">
					<a href="https://en.wikipedia.org/wiki/Marcus_Aurelius" class="text-decoration-none" target="blank">Marcus Aurelius</a>
				</cite>	
			</blockquote>

			<p>
				But for my part I have long perceived the nature of good and its nobility, the nature of evil and its meanness, and also the nature of the culprit himself, who is my brother (not in the physical sense, but as a fellow creature similarly endowed with reason and a share of the divine);therefore none of those things can injure me, for nobody can implicate me in what is degrading. 
			</p>
				
			<p>
				<img class="img-fluid" src="http://place-hold.it/1200x300">
			</p>
			
			<p>
				Neither can I be angry with my brother or fall foul of him; for he and I were born to work together, like a man`s two hands, feet or eyelids, or the upper and lower rows of his teeth. 
			</p>

			<p>
				To obstruct each other is against Nature`s law - and what is irritation or aversion but a form of obstruction.
			</p>
			
			<div>
				<img class="img-fluid align-center" src="http://place-hold.it/1200x300">
			</div>

			<p>
				Consectetur adipiscing elit. Praesent vel tortor facilisis, volutpat nulla placerat, tincidunt mi. 
			</p>
			
			<p>
				<img class="img-fluid align-right" src="http://place-hold.it/150x150">
			</p>
			
			<p>
				Nullam vel orci dui. Su spendisse sit amet laoreet neque. Fusce sagittis suscipit sem a consequat. Proin nec interdum sem. 
			</p>
			<p>
				Quisque in porttitor magna, a imperdiet est. Donec accumsan justo nulla, sit amet varius urna laoreet vitae. Maecenas feugiat fringilla metus. 
			</p>

			<p>
				<img class="img-fluid align-left" src="http://place-hold.it/150x150">
			</p>
			
			<p>
				Nullam vel orci dui. Su spendisse sit amet laoreet neque. Fusce sagittis suscipit sem a consequat. Proin nec interdum sem. 
			</p>
			<p>
				Quisque in porttitor magna, a imperdiet est. Donec accumsan justo nulla, sit amet varius urna laoreet vitae. Maecenas feugiat fringilla metus. 
			</p>
		</div>

  </div>
 
 
  <div class="card-footer text-muted">
	
		<div class="d-flex tags">
			<div data-v-categories>
				<div data-v-if="categories > 0" class="me-4"> 
					<i class="la la-archive"></i>
					<ul class="tags d-inline-block">
						  <li data-v-categories-cat>
							<a href="#" data-v-categories-cat-url>
								<span data-v-categories-cat-name>cat 1</span>
							</a>
						  </li>
						  <li data-v-categories-cat>
							<a href="#" data-v-cat-url><span data-v-cat-name>cat 2</span></a>
						  </li>
						  <li data-v-categories-cat>
							<a href="#" data-v-cat-url><span data-v-cat-name>cat 3</span></a>
						  </li>
						  <li data-v-categories-cat>
							<a href="#" data-v-cat-url><span data-v-cat-name>cat 4</span></a>
						  </li>
					</ul>
				</div>
		  </div>
		
			<div data-v-tags>
				<div data-v-if="tags > 0"> 
				    <i class="la la-tag"></i>
					<ul class="tags d-inline-block">
						  <li data-v-tags-tag>
							<a href="#"  data-v-tags-tag-url>
								<span data-v-tags-tag-name>tag 1</span>
							</a>
						  </li>
						  <li data-v-tags-tag>
							<a href="#" data-v-tag-url><span data-v-cat-name>tag 2</span></a>
						  </li>
						  <li data-v-tags-tag>
							<a href="#" data-v-tag-url><span data-v-cat-name>tag 3</span></a>
						  </li>
						  <li data-v-tags-tag>
							<a href="#" data-v-tag-url><span data-v-cat-name>tag 4</span></a>
						  </li>
					</ul>
			  </div>
		  </div>
	  </div>
		
		<!--
		<a class="float-end" href="content/post.html" data-v-post-url><span>Read More </span></a>
		-->
  </div>

</article>

<div data-v-if="posts.count < 1" class="border-bottom text-center py-4">
	<h5>No posts to display!</h5>
</div>
