<!-- Blog Post -->

<article class="card @@class" data-v-post data-v-if="posts.count > 0">
	<div class="card-header">

		<a class="post-title" href="content/post.html" data-v-post-url> 
			<h2 class="card-title display-4 text-center" data-aos="fade" data-aos-duration="500" data-v-post-name>Begin each day by telling yourself</h2>
		</a>


		<div class="post-meta-wrapper post-meta-single post-meta-single-top" data-aos="fade-up" data-aos-duration="200">

				<ul class="post-meta mb-0">

					<li class="post-author meta-wrapper">
							<span class="meta-icon">
								<span class="screen-reader-text">Post author</span>
									<i class="la la-user"></i>
								</span>
							<span class="meta-text">
								By <a href="content/post.html" data-v-post-author-url><span data-v-post-display_name>admin</span></a>
							</span>
						</li>
						
						<li class="post-date meta-wrapper">
							<span class="meta-icon">
								<span class="screen-reader-text">Post date</span>

									<i class="la la-calendar"></i>
								</span>
							<span class="meta-text">
								<a href="content/post.html" data-v-post-url><span data-v-post-created_at data-filter-friendly_date >December 31, 2020</span></a>
							</span>
						</li>
							<li class="post-comment-link meta-wrapper">
							<span class="meta-icon">
								<i class="la la-comment"></i>
							</span>
							<span class="meta-text">
								<a href="#comments" data-v-post-comments-url><span data-v-post-comment_text>0 Comments</span></a>
							</span>
						</li>
						
				</ul><!-- .post-meta -->

	     </div>
	</div>
	
	
<!--  <img class="img-fluid" src="http://place-hold.it/1200x300" alt="Card image cap" data-aos="zoom-in-up" data-aos-duration="200" data-v-post-image data-v-if="post.image"> -->
	
  <div class="card-body">

		<div class="card-text post-content" data-v-post-excerpt>
		
				<p>Today I shall be meeting with interference, ingratitude, insolence, disloyalty, ill-will, and selfishness all of them due to the offenders` ignorance of what is good or evil.</p>
		
		</div>

  </div>
 
  <div class="card-footer text-muted">
	
	<div  data-v-component-content-categories="blog-post" data-v-type="tags" data-v-post_id="url">
		<div>
			<ul data-v-cats class="tags">
			  <li data-v-cat>
				<a href="content/tag.html"  data-v-cat-url><span data-v-cat-name>tag 1</span></a>
			  </li>
			  <li data-v-cat>
				<a href="content/tag.html"  data-v-cat-url><span data-v-cat-name>tag 2</span></a>
			  </li>
			  <li data-v-cat>
				<a href="content/tag.html"  data-v-cat-url><span data-v-cat-name>tag 3</span></a>
			  </li>
			  <li data-v-cat>
				<a href="content/tag.html"  data-v-cat-url><span data-v-cat-name>tag 4</span></a>
			  </li>
		</ul>
	  </div>
	</div>

		
		<!--
		<a class="float-end" href="content/post.html" data-v-post-url><span>Read More </span></a>
		-->
  </div>

</article>
