<article class="card @@class">
	<div class="card-img-top" data-v-if="post.image">
		<img src="img/demo/product.jpg" alt="" class="w-100" loading="lazy" data-v-size="thumb" data-v-post-image>
	</div>
	<!-- Post Title -->
	<div class="card-body">
		<div class="post-title card-title">
			<a href="#" data-v-post-url>
				<h3 data-v-post-name>
						Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada
				</h3>
			</a>
		</div>
		<!-- Hover Content -->
		<p class="card-text text-muted" data-v-post-excerpt>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla tortor. Phasellus purus dignissim convallis.</p>
		<a href="#" title="Read more" role="button" data-v-post-url><span>Read more</span> <i class="la la-angle-right"></i></a>
	</div>
</article>
