<nav aria-label="breadcrumb" class="text-muted text-small" data-v-component-breadcrumb>
  <ol class="breadcrumb">
	<li class="breadcrumb-item" data-v-breadcrumb-item>
		<a href="#" data-v-breadcrumb-item-url data-v-if="breadcrumb.url">
			<span data-v-breadcrumb-item-text>Home</span>
		</a>
		<span data-v-breadcrumb-item-text data-v-if-not="breadcrumb.url">Home</span>
	</li>
	<li class="breadcrumb-item" data-v-breadcrumb-item>
		<a href="#" data-v-breadcrumb-item-url data-v-if="breadcrumb.url">
			<span data-v-breadcrumb-item-text>Library</span>
		</a>
		<span data-v-breadcrumb-item-text data-v-if-not="breadcrumb.url">Library</span>
	</li>
	<li class="breadcrumb-item active" aria-current="page" data-v-breadcrumb-item>
		<span>Data</span>
	</li>
  </ol>
</nav>