<!-- Blog Post -->
<div class="mb-4 @@class" data-v-post>
	<div>

		<h1 data-v-post-name>Post Title</h1>
		

		<div class="post-meta-wrapper post-meta-single post-meta-single-top">

				<!-- ul class="post-meta">

					<li class="post-author meta-wrapper">
							<span class="meta-icon">
								<span class="screen-reader-text">Post author</span>
									<i class="la la-user"></i>
								</span>
							<span class="meta-text">
								By <a href="#">admin</a>						
							</span>
						</li>
						
						<li class="post-date meta-wrapper">
							<span class="meta-icon">
								<span class="screen-reader-text">Post date</span>

									<i class="la la-calendar"></i>
								</span>
							<span class="meta-text">
								<a href="http://givan.ro/2020/12/31/hello-world/">December 31, 2020</a>
							</span>
						</li>
							<li class="post-comment-link meta-wrapper">
							<span class="meta-icon">
								<i class="la la-comment"></i>
							</span>
							<span class="meta-text">
								<a href="http://givan.ro/2020/12/31/hello-world/#comments">1 Comment<span class="screen-reader-text"> on Hello world!</span></a>						</span>
						</li>
						
				</ul --><!-- .post-meta -->

	</div>
	
	
</div>
  <div>
	
	<div class="post-content" data-v-post-content>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
	</div>
	
  </div>
 
  <div>
	
	<!-- 
	<ul class="tags float-start">
		<li>#winter</li> 
		<li>#tag</li> 
	</ul>
	
	-->
	
  </div>
</div>
