<div class="bg-image"></div>

<div class="alert alert-light alert-dismissible fade alert-top" role="alert" style="display:none">
  <div class="container">
	  
	  <div class="message">
		Product was added to cart.
	  </div>
	  
	  
	  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
  </div>	
</div> 

<!-- Vvveb Common Js -->
<script id="popper-js" src="../../js/popper.min.js"></script>
<!-- <script src="../../js/bootstrap.min.js"></script> -->
<!-- <script src="../../js/bootstrap.bundle.min.js"></script> -->
<script id="bootstrap-js" src="js/bootstrap.min.js"></script>
<!-- Vvveb Ajax Common Js -->
<script id="app-js" src="../../js/app.js"></script>

<!-- Animation -->

<link rel="stylesheet" href="js/aos.css">	
<noscript>
	<style type="text/css">
		[data-aos] {
			opacity: 1 !important;
			transform: translate(0) scale(1) !important;
		}
	</style>
</noscript>

<script src="js/aos.js"></script>
<script src="js/theme.js"></script>

<script>
	AOS.init();
</script>
