<!-- Related Blog Post -->
<div class="related-blog-post" data-v-component-posts="related">
	
	<div class="single-related-blog-post" data-v-post>
		<img src="img/bg-img/rp1.jpg" alt="" loading="lazy" data-v-img>
		<a href="#" data-v-url>
			<h5 data-v-name>Cras lobortis nisl nec libero pulvinar lacinia. Nunc sed ullamcorper massa</h5>
		</a>
	</div>
	<div class="single-related-blog-post" data-v-post>
		<img src="img/bg-img/rp2.jpg" alt="" loading="lazy" data-v-img>
		<a href="#" data-v-url>
			<h5 data-v-name>Fusce tincidunt nulla magna, ac euismod quam viverra id. Fusce eget metus feugiat</h5>
		</a>
	</div>
	
	<div class="single-related-blog-post" data-v-post>
		<img src="img/bg-img/rp3.jpg" alt="" loading="lazy" data-v-img>
		<a href="#" data-v-url>
			<h5 data-v-name>Etiam leo nibh, consectetur nec orci et, tempus tempus ex</h5>
		</a>
	</div>
	
	<div class="single-related-blog-post" data-v-post>
		<img src="img/bg-img/rp4.jpg" alt="" loading="lazy" data-v-img>
		<a href="#" data-v-url>
			<h5 data-v-name>Sed viverra pellentesque dictum. Aenean ligula justo, viverra in lacus porttitor</h5>
		</a>
	</div>
</div>
