<!-- navigation -->
<aside class="col-lg-3 col-xxl-2 sidebar">
<div class="sticky" style="top:100px;">
  <nav class="navbar navbar-vertical navbar-expand-lg navbar-light">
	<div>
		
		 
	  <a href="../../index.html" class="navbar-brand d-block"><!-- <img src="img/logo.png" alt="Site logo" loading="lazy" alt="Logo">--></a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	</div>


	<div class="menutree" data-v-component-categories="left-column-categories" data-v-limit=1000>

		<!--  Catagories  -->
			<ul class="menu-content collapse show" >
				<!-- Single Item -->
				<li>
					<ul class="sub-menu " data-v-cats>
						<li data-v-cat class="expand">
							<input type="checkbox" id="m3" data-v-if="category.children > 0"/>
							<label for="m3" data-v-if="category.children > 0">
								<a href="#" data-v-cat-url data-url data-url data-selector=".content-body" data-v-cat-name>Bodysuits</a>
							</label>
							
							<a href="#" data-v-if="category.children = 0" data-v-cat-url data-url data-url data-selector=".content-body" data-v-cat-name>Bodysuits</a>
						</li>
						<li data-v-cat><a href="#" data-v-cat-url data-url data-url data-selector=".content-body" data-v-cat-name>Dresses</a></li>
						<li data-v-cat><a href="#" data-v-cat-url data-url data-url data-selector=".content-body" data-v-cat-name>Hoodies &amp; Sweats</a></li>
						<li data-v-cat><a href="#" data-v-cat-url data-url data-url data-selector=".content-body" data-v-cat-name>Jackets &amp; Coats</a></li>
						<li data-v-cat><a href="#" data-v-cat-url data-url data-url data-selector=".content-body" data-v-cat-name>Jeans</a></li>
						<li data-v-cat><a href="#" data-v-cat-url data-url data-url data-selector=".content-body" data-v-cat-name>Pants &amp; Leggings</a></li>
						<li data-v-cat><a href="#" data-v-cat-url data-url data-url data-selector=".content-body" data-v-cat-name>Rompers &amp; Jumpsuits</a></li>
						<li data-v-cat><a href="#" data-v-cat-url data-url data-url data-selector=".content-body" data-v-cat-name>Shirts &amp; Blouses</a></li>
						<li data-v-cat><a href="#" data-v-cat-url data-url data-url data-selector=".content-body" data-v-cat-name>Shirts</a></li>
						<li data-v-cat><a href="#" data-v-cat-url data-url data-url data-selector=".content-body" data-v-cat-name>Sweaters &amp; Knits</a></li>
					</ul>
				</li>
				<!-- Single Item -->
				<li data-bs-toggle="collapse" data-bs-target="#shoes" class="collapsed" data-v-cats>
					<a href="#">shoes</a>
					<ul class="sub-menu collapse" id="shoes">
						<li><a href="#">All</a></li>
						<li><a href="#">Bodysuits</a></li>
						<li><a href="#">Dresses</a></li>
						<li><a href="#">Hoodies &amp; Sweats</a></li>
						<li><a href="#">Jackets &amp; Coats</a></li>
						<li><a href="#">Jeans</a></li>
						<li><a href="#">Pants &amp; Leggings</a></li>
						<li><a href="#">Rompers &amp; Jumpsuits</a></li>
						<li><a href="#">Shirts &amp; Blouses</a></li>
						<li><a href="#">Shirts</a></li>
						<li><a href="#">Sweaters &amp; Knits</a></li>
					</ul>
				</li>
				<!-- Single Item -->
				<li data-bs-toggle="collapse" data-bs-target="#accessories" class="collapsed" data-v-cats>
					<a href="#">accessories</a>
					<ul class="sub-menu collapse" id="accessories">
						<li><a href="#">All</a></li>
						<li><a href="#">Bodysuits</a></li>
						<li><a href="#">Dresses</a></li>
						<li><a href="#">Hoodies &amp; Sweats</a></li>
						<li><a href="#">Jackets &amp; Coats</a></li>
						<li><a href="#">Jeans</a></li>
						<li><a href="#">Pants &amp; Leggings</a></li>
						<li><a href="#">Rompers &amp; Jumpsuits</a></li>
						<li><a href="#">Shirts &amp; Blouses</a></li>
						<li><a href="#">Shirts</a></li>
						<li><a href="#">Sweaters &amp; Knits</a></li>
					</ul>
				</li>
			</ul>
	</div>
  </nav>
</div>
</aside>
<!-- / navigation -->






