<aside class="col-md-3 col-xxl-3 d-none d-md-block" data-v-post-toc>
	<div class="sticky p-3"  style="top:100px;" id="toc-sidebar">
		<div  class="nav flex-column toc" data-v-toc-list>
		  <ol>
			<li class="nav-item" data-v-toc-item>
			  <a class="nav-link" href="#heading-1" data-v-toc-item-url data-v-toc-item-name>heading 1</a>
			</li>
			<li class="nav-item" data-v-toc-item>
			  <a class="nav-link" href="#heading-2" data-v-toc-item-url data-v-toc-item-name>heading 2</a>
			</li>
			<li class="nav-item" data-v-toc-item>
			  <a class="nav-link" href="#heading-3" data-v-toc-item-url data-v-toc-item-name>heading 3</a>
			</li>
		  </ol>
		</div>
	</div>
</aside>


