<ul class="nav flex-column nav-pills me-4 user-nav">
  <li class="nav-item">
	<a class="nav-link" href="user" data-v-url="user/index" ><i class="la la-tachometer-alt la-lg me-1"></i><span>Dashboard</span></a>
  </li>  
  <li class="nav-item">
	<a class="nav-link" href="user/orders" data-v-url="user/orders/index"><i class="la la-shopping-bag la-lg me-1"></i><span>Your Orders</span></a>
  </li>
  <li class="nav-item">
	<a class="nav-link" href="user/profile" data-v-url="user/profile/index"><i class="la la-cogs la-lg me-1"></i><span>Settings</span></a>
  </li>
  <li class="nav-item">
	<a class="nav-link" href="user/address" data-v-url="user/address/index"><i class="la la-map-pin la-lg me-1"></i><span>Address</span></a>
  </li>
  <li class="nav-item">
	<a class="nav-link" href="user/downloads" data-v-url="user/downloads/index"><i class="la la-download la-lg me-1"></i><span>Downloads</span></a>
  </li>
  <li class="nav-item">
	<a class="nav-link" href="user/comments" data-v-url="user/comments/index"><i class="la la-comment la-lg me-1"></i><span>Comments</span></a>
  </li>
  <li class="nav-item">
	<a class="nav-link" href="user/wishlist" data-v-url="user/wishlist/index"><i class="la la-hand-holding-heart la-lg me-1"></i><span>Wishlist</span></a>
  </li>
  <!--	
  <li class="nav-item">
	<a class="nav-link" href="user/notifications" data-v-url="user/notifications/index"><i class="la la-bell la-lg me-1"></i><span>Notification</span></a>
  </li>
  -->
  <li class="nav-item">
	<hr>
  </li>
  <li class="nav-item">
  
  	<form action method="post" enctype="multipart/form-data" data-v-url="user/login/index" data-selector="body">

		<input type="hidden" name="logout">
	
		<button type="submit" value="logout" class="btn nav-link">
			
			<span class="loading d-none">
				<span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
				</span>
				<span>Loading ...</span>...
			</span>

			<span class="button-text">
				<i class="la la-sign-out-alt la-lg me-1"></i><span>Log out</span></a>
			</span>
		
		</button>	
	</form>
  
  </li>
</ul>